body, button, input, select, textarea {
    font-family: $family-monospace;
}
.field:not(:last-child) {
   margin-bottom: 1.5em; 
}

.box, .footer, .section {
        border: solid 1px $grey-dark;
        border-radius: 0px;
}

.b-tabs .tabs {
   margin-bottom: 1.5rem; 
}

.footer, .section {
    border-left: none;
    border-right: none;
}

.content p:not(:last-child) {
   // margin-bottom: 0em; 
}
a:hover {
    text-decoration: underline;
    color: #fff;
}

a {
    color: #fff;
}

.field.is-floating-label .label:before {
    background-color: $grey-dark;
}

.label {
    color: #fff;
}

.tabs a {
    color: #fff;
    border-bottom-color: $grey-dark;
}

.tabs a:hover {
    color: #fff;
    border-bottom-color: $grey-light;
}

.tabs ul {
    color: #fff;
    border-bottom-color: $grey-dark;
}

.input {
    background-color: $grey-dark;
    color: #fff;
}

.input checkbox {
    border: 0px;
    background-color: $grey-dark;
    color: #fff;
}

.input, .taginput .taginput-container.is-focusable, .textarea, .select select {
    border-color: $grey;
}

.select select {
    //border: 0px;
    background-color: $grey-dark;
    color: #fff;
}

.select select option {
    background-color: $grey-dark;
    color: #fff;
}

.b-checkbox.checkbox .control-label:hover {
    color: white;
}

.b-checkbox.checkbox:hover {
    color: white;
}